{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
    <link rel="stylesheet" href="{% static '/css/applicationForm.css' %}">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <img src="{% static '/images/bms.png' %}" alt="bmslogo">
            </div>
            <div class="headings">
                <div class="name">
                    <h1>BMS College of Engineering</h1>
                    <p>Bull Temple Rd, Basavanagudi, Bengaluru, Karnataka 560019</p>
                </div>
                <div class="options">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="https://bmsce.ac.in/home/About-BMSCE">About Us</a></li>
                        <li><a href=https://bmsce.ac.in/home/Under-Graduation>Admissions</a></li>
                        <li><a href="https://bmsce.ac.in/home/Contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="profile">
        <div class="box1">
            <h3 class="textcentre">Steps to complete your Application</h3>
            <ul>
                <li>
                    <ul>
                        Application form
                        <li>Personal details </li>
                        <li> Educational details</li>
                        <li>Financial details</li>
                    </ul>
                </li>
                <li>Upload Documents</li>
                <li class="hover"><a class="textnodeco " href="edit.html">Edit Application form</a></li>
                <li class="hover" class="textnodeco " onclick=myfunc()>LOGOUT</li>
            </ul>
        </div>
        <div class="headin">
            <h1>Application for BMSCE ENTRANCE EXAM 2022</h1>
        </div>
    </div>
    <div class="personal">
        <h2>Personal details</h2>
        <form action="{% url 'personal_form_page' %}" id="personal" method="post" class="form">
            {% csrf_token %}
            <div class="naco">
                <label for="Name">Name:
                    <input type="text"  placeholder="Enter your name" id="sname" name="name" required>
                </label>
                <label for="cno">Contact number:
                    <input type="number" name="cno" id="cn1" min="1000000000"  required><br>
                </label><br>
            </div>
            <div class="naco">
                <label for="dob">Date of birth:
                    <input type="date" id="dob1" placeholder="dd-mm-yyyy" name="dob" min="1997-01-01"
                        max="2010-12-31" required>
                </label>
                <label for="gender">Gender:
                    <select name="gender" id="gender">
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="OTHERS">others</option>
                    </select>
                </label><br>
            </div>
            <div class="naco">
                <label for="fname">Father Name:
                    <input type="text" class="f1" name="fname" required>
                </label>
                <label for="focc">Occupation
                    <input type="text" class="f1" name="focc" required>
                </label><br>
            </div>
            <div class="naco">

                <label for="mname">Mother Name:
                    <input type="text" class="f1" name="mname" required>
                </label>
                <label for="mocc">Occupation
                    <input type="text" class="f1" name="mocc" required>
                </label><br>
            </div>
            <label for="mstatus">Martial status:
                <select name="mstatus" id="mstat" class="addr2" required>
                    <option value="0">select</option>
                    <option value="UNMARRIED">Unmarried</option>
                    <option value="MARRIED">Married</option>
                </select>
            </label><br>
            <label for="a.no">Adhar Card number:
                <input type="number" name="ano" id="ano" required min="100000000000" max="999999999999">
            </label><br>
            <label for="p.adress">Permanent Adress:<br>
                <input type="text" placeholder="House no streetno" class="addr1" name="hno" required><br>
                <input type="text" placeholder="street name colony name" name="stname" class="addr1" required><br>
                <input type="text" placeholder="city" class="addr1" name="pcity" required><br>
                <select name="state" id="state" class="addr2" required>
                    <option value="0">Select your state</option>
                    <option value="Andhra Pradesh">Andhra Pradesh </option>
                    <option value="Arunachal Pradesh"> Arunachal Pradesh </option>
                    <option value="Assam">Assam</option>
                    <option value="West Bengal">West Bengal</option>
                    <option value="Bihar">Bihar </option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa"> Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh"> Himachal Pradesh </option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka"> Karnataka </option>
                    <option value="Kerala">Kerala </option>
                    <option value="Madhya Pradesh"> Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra </option>
                    <option value="Manipur">Manipur </option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram </option>
                    <option value="Nagaland">Nagaland </option>
                    <option value="Odisha">Odisha </option>
                    <option value="Punjab">Punjab </option>
                    <option value="Rajasthan">Rajasthan </option>
                    <option value="Sikkim">Sikkim </option>
                    <option value="Tamil Nadu">Tamil Nadu </option>
                    <option value="Telangana">Telangana </option>
                    <option value="Tripura">Tripura </option>
                    <option value="Uttarakhand">Uttarakhand </option>
                    <option value=" Uttar Pradesh"> Uttar Pradesh </option>
                </select>
                <input type="number" name="pin" id="pin" placeholder="PINCODE" class="addr2" required min="100000" max="999999">
            </label><br>
            <label for="p.adress">Present Adress:<br>
                <input type="text" placeholder="House no streetno" class="addr1" name="prehno" required><br>
                <input type="text" placeholder="street name colony name" class="addr1" name="prestname" required><br>
                <input type="text" placeholder="city" class="addr1" name="precity" required><br>
                <select name="prestate" id="state" class="addr2" required>
                    <option value="0">Select your state</option>
                    <option value="Andhra Pradesh">Andhra Pradesh </option>
                    <option value="Arunachal Pradesh"> Arunachal Pradesh </option>
                    <option value="Assam">Assam</option>
                    <option value="West Bengal">West Bengal</option>
                    <option value="Bihar">Bihar </option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa"> Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh"> Himachal Pradesh </option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka"> Karnataka </option>
                    <option value="Kerala">Kerala </option>
                    <option value="Madhya Pradesh"> Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra </option>
                    <option value="Manipur">Manipur </option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram </option>
                    <option value="Nagaland">Nagaland </option>
                    <option value="Odisha">Odisha </option>
                    <option value="Punjab">Punjab </option>
                    <option value="Rajasthan">Rajasthan </option>
                    <option value="Sikkim">Sikkim </option>
                    <option value="Tamil Nadu">Tamil Nadu </option>
                    <option value="Telangana">Telangana </option>
                    <option value="Tripura">Tripura </option>
                    <option value="Uttarakhand">Uttarakhand </option>
                    <option value=" Uttar Pradesh"> Uttar Pradesh </option>
                </select>
                <input type="number" name="prepin" id="" placeholder="PINCODE" class="addr2" required min="100000" max="999999">
            </label><br>
            <div class="save">
                <button class="hover" type="submit" >SAVE AND NEXT</button>
            </div>
        </form>    
    </div>
    <footer>
        <div>
            <div class="cu" id="footer">
                <h2>Contact us</h2>
                <h1>+91-80-26622130-35</h1>
            </div>
            <div class="email">
                <h2>Email:<a href="mailto:info@bmsce.ac.in">info@bmsce.ac.in</a></h2>
            </div>
            <h2>Coprights &copy;2022 Bms college of Engineering.All rights reserved</h2>
        </div>
    </footer>
    <script>
        function myfunc() {

            if (confirm("Are you sure you want to logout ? Changes you made won't be saved")) {
                window.location.href ="{% url 'logout_page' %}" ;
            }
            else {
                alert("Logout denied by user")
            }}
        function save(){
            if (confirm("You want to save the form as draft")){
                 window.location.href="upload.html";
            }
            else{
                alert("save denied")
            }
        }
        function savenext(){
            if (confirm("You want to save the form")){
                 window.location.href="upload.html";
            }
            else{
                alert("save denied");
                window.location.href="application.html";
            }
        }
        function validate(){
            alert("please input the values correctly in the fields");
        }
        
    </script>
</body>

</html>