<!DOCTYPE html>
<html lang="en">

<head>

</head>



<body>

    <header>
        <nav>
            <div class="headings">
                <div class="name">
                    <h1>BMS College of Engineering</h1>
                    <p>Bull Temple Rd, Basavanagudi, Bengaluru, Karnataka 560019</p>
                </div>
            </div>
        </nav>
    </header>
    <div class="profile">
        <div class="headin">
            <h1>Application for BMSCE ENTRANCE EXAM 2023</h1>
        </div>
    </div>
    <div class="personal">
        <h2>Personal details</h2>
        <form id="personal" class="form">
            <div class="naco">
                <label for="Name">Name:
                    <input type="text" value="{{name}}">
                </label>
                <label for="cno">Contact number:
                    <input type="number" value="{{cno}}"><br>
                </label><br>
            </div>
            <div class="naco">
                <label for="dob">Date of birth:
                    <input type="date" value="{{dob}}">
                </label>
                <label for="gender">Gender:
                    <input type="text" value="{{gender}}">
                </label><br>
            </div>
            <div class="naco">
                <label for="fname">Father Name:
                    <input type="text" value="{{fname}}">
                </label>
                <label for="focc">Occupation
                    <input type="text" value="{{focc}}">
                </label><br>
            </div>
            <div class="naco">

                <label for="mname">Mother Name:
                    <input type="text" value="{{Mname}}">
                </label>
                <label for="mocc">Occupation
                    <input type="text" value="{{mocc}}">
                </label><br>
            </div>
            <label for="mstatus">Martial status:
                <input type="text" value="{{mstat}}">
            </label><br>
            <label for="a.no">Adhar Card number:
                <input type="number" value="{{adno}}">
            </label><br>
            <label for="p.adress">Permanent Adress:<br>
                <input type="text" value="{{peraddress}}"><br>
                <input type="text" value="{{perstreet}}"><br>
                <input type="text" value="{{perstate}}"><br>
                <input type="number" value="{{pinno}}">
            </label><br>
            <label for="p.adress">Present Adress:<br>
                <input type="text" value="{{phno}}"><br>
                <input type="text" value="{{pstreet}}"><br>
                <input type="text" value="{{pstate}}"><br>
                <input type="number" value="{{pinno2}}">
            </label><br>
        </form>
    </div>
    <footer>
        <div>
            <div class="cu" id="footer">
                <h2>Contact us</h2>
                <h1>+91-80-12345678</h1>
            </div>
            <div class="email">
                <h2>Email:<a href="mailto:info@bmsce.ac.in">info@bmsce.ac.in</a></h2>
            </div>
            <h2>Coprights &copy;2022 Bms college of Engineering.All rights reserved</h2>
        </div>
    </footer>

</body>


</html>